In [1]:
import os
import numpy
from pyspark.sql.functions import *
from pyspark.sql.types import DoubleType
spark_home = os.environ.get('SPARK_HOME', None)
# review = spark.read.json("Yelp/review.json")

In [2]:
import plotly
plotly.tools.set_credentials_file(username='amcire96', api_key='sej35ud4YbSOfIshhhZg')
# print(plotly.__version__)

import plotly.plotly as py
from plotly.graph_objs import *
import plotly.figure_factory as FF
import requests
requests.packages.urllib3.disable_warnings()

In [3]:
review = spark.read.json("/user/hduser1/Yelp/review.json")
business = spark.read.json("/user/hduser1/Yelp/business.json")
checkin = spark.read.json("/user/hduser1/Yelp/checkin.json")
tip = spark.read.json("/user/hduser1/Yelp/tip.json")
user = spark.read.json("/user/hduser1/Yelp/user.json")

print("BUSINESS")
business.printSchema()
print()
print("CHECKIN")
checkin.printSchema()
print()
print("REVIEW")
review.printSchema()
print()
print("TIP")
tip.printSchema()
print()
print("USER")
user.printSchema()

BUSINESS
root
 |-- address: string (nullable = true)
 |-- attributes: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- business_id: string (nullable = true)
 |-- categories: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- city: string (nullable = true)
 |-- hours: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- is_open: long (nullable = true)
 |-- latitude: double (nullable = true)
 |-- longitude: double (nullable = true)
 |-- name: string (nullable = true)
 |-- neighborhood: string (nullable = true)
 |-- postal_code: string (nullable = true)
 |-- review_count: long (nullable = true)
 |-- stars: double (nullable = true)
 |-- state: string (nullable = true)
 |-- type: string (nullable = true)

()
CHECKIN
root
 |-- business_id: string (nullable = true)
 |-- time: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- type: string (nullable = true)

()
REVIEW
root
 |-- business_id: string (nullable = true)
 |-- cool: long (nullable = true)
 |-- date: string (nullable = true)
 |-- funny: long (nullable = true)
 |-- review_id: string (nullable = true)
 |-- stars: long (nullable = true)
 |-- text: string (nullable = true)
 |-- type: string (nullable = true)
 |-- useful: long (nullable = true)
 |-- user_id: string (nullable = true)

()
TIP
root
 |-- business_id: string (nullable = true)
 |-- date: string (nullable = true)
 |-- likes: long (nullable = true)
 |-- text: string (nullable = true)
 |-- type: string (nullable = true)
 |-- user_id: string (nullable = true)

()
USER
root
 |-- average_stars: double (nullable = true)
 |-- compliment_cool: long (nullable = true)
 |-- compliment_cute: long (nullable = true)
 |-- compliment_funny: long (nullable = true)
 |-- compliment_hot: long (nullable = true)
 |-- compliment_list: long (nullable = true)
 |-- compliment_more: long (nullable = true)
 |-- compliment_note: long (nullable = true)
 |-- compliment_photos: long (nullable = true)
 |-- compliment_plain: long (nullable = true)
 |-- compliment_profile: long (nullable = true)
 |-- compliment_writer: long (nullable = true)
 |-- cool: long (nullable = true)
 |-- elite: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- fans: long (nullable = true)
 |-- friends: array (nullable = true)
 |    |-- element: string (containsNull = true)
 |-- funny: long (nullable = true)
 |-- name: string (nullable = true)
 |-- review_count: long (nullable = true)
 |-- type: string (nullable = true)
 |-- useful: long (nullable = true)
 |-- user_id: string (nullable = true)
 |-- yelping_since: string (nullable = true)

In [3]:
print(review.select("type").head(10))

[Row(type=u'review'), Row(type=u'review'), Row(type=u'review'), Row(type=u'review'), Row(type=u'review'), Row(type=u'review'), Row(type=u'review'), Row(type=u'review'), Row(type=u'review'), Row(type=u'review')]

In [4]:
extreme_reviews = review.where(review.stars % 4 == 1).repartition(300)
print(extreme_reviews.count())
print(extreme_reviews.where(extreme_reviews.stars == 1).count())
print(extreme_reviews.where(extreme_reviews.stars == 5).count())
print(extreme_reviews.select("stars").head(50))
print(extreme_reviews.head(5))

2244577
540377
1704200
[Row(stars=5), Row(stars=1), Row(stars=5), Row(stars=1), Row(stars=5), Row(stars=5), Row(stars=5), Row(stars=1), Row(stars=5), Row(stars=5), Row(stars=5), Row(stars=5), Row(stars=5), Row(stars=5), Row(stars=1), Row(stars=5), Row(stars=1), Row(stars=1), Row(stars=5), Row(stars=5), Row(stars=1), Row(stars=5), Row(stars=5), Row(stars=5), Row(stars=5), Row(stars=5), Row(stars=5), Row(stars=5), Row(stars=1), Row(stars=1), Row(stars=5), Row(stars=1), Row(stars=5), Row(stars=5), Row(stars=5), Row(stars=5), Row(stars=1), Row(stars=1), Row(stars=5), Row(stars=5), Row(stars=5), Row(stars=5), Row(stars=5), Row(stars=1), Row(stars=1), Row(stars=5), Row(stars=5), Row(stars=5), Row(stars=5), Row(stars=5)]
[Row(business_id=u'7u_1pr2Q8ma3mAYR_ZzBjg', cool=0, date=u'2015-07-10', funny=0, review_id=u'8j4_uvubhLH6Qz9Hm1x-Sw', stars=1, text=u'Dishwasher Inconvenience. I had been a Best Buy appliance loyalist until now. Granted, hadn\'t bought any for maybe 8 years but they are who I went to first based on many other purchases. Bought dishwasher in store. I knew installation was separate. I made sure to get it. I scheduled a time. I wasn\'t happy with a 12 hour delivery window (6 hours in past). But I had an order sheet with scheduled delivery and separate line confirming installation with same info. Sales person tells me that installers will pick up dishwasher and come with it. Night before my date, I get a voicemail with a 2 hour window. I\'m thinking great. Next day, a guy comes. He is here to drop off my dishwasher. I said "and install". And he says no. I need to schedule that separately. I said I have it on paper. He says no. I refuse the delivery. I live in a condo, it would sit on my living room, and who wants that? Call store. Was informed that I was supposed to call geek squad to schedule installation. That number isn\'t on any of my papers. And no instructions to do that. I ask for/get it. Call it. After numerous transfers I learn I can\'t get a refund until it gets back to warehouse. I need to call tomorrow. I understand that. What bugs me is the transfers and time on the phone, and no one was surprised at my experience. So, this is pretty common. And that stinks.', type=u'review', useful=1, user_id=u'jzTNpdn1hy8Nr6wooFy5SA'), Row(business_id=u'da17_EW7GaYZWw1Z1JKSmw', cool=0, date=u'2015-06-28', funny=0, review_id=u'FlbIECE6dacGqf4ypDC72Q', stars=5, text=u"I love this place! Idk why so many people choose to eat at these expensive restaurants and buffets in Vegas, when you can get waaaaaaaaay more bang for your buck at Denny's! IMO Denny's is the best place to eat in Vegas, it's cheap and the food is good!", type=u'review', useful=0, user_id=u'7GxcGvEVYCgCeBq_bVxt6g'), Row(business_id=u'azE1DNVQFBU8boVbaJhj7w', cool=0, date=u'2016-08-21', funny=0, review_id=u'u6cL8gwFUdD1V5oLLI5FFA', stars=5, text=u'Arrived about one half hour befor opening tonight......no problem we could sit and have a glass of wine.......Fantastic dinner......service unbelievable...does not matter what your position is all restaurant help pitches in to help the customers.....Jealous Pittsburgh for having this wonderful place', type=u'review', useful=0, user_id=u'DyiHOArN2sBVjoXuICr_cQ'), Row(business_id=u'JHN09M-CRTGln2rRnS9hWw', cool=1, date=u'2014-03-13', funny=3, review_id=u'04XgF4u2EIrmTALrW5HLjA', stars=1, text=u'Was told at 5am that burgers arent made until 4pm by some chubby ogre latina.\n\nStay in school kids.', type=u'review', useful=1, user_id=u'xB_iqVEAcHv4ov8tGa0iTw'), Row(business_id=u'f8CJakdoDUiiMz5QjZ_z7w', cool=0, date=u'2013-07-31', funny=0, review_id=u'THilCD0ChoI6yKcU8TMbGQ', stars=5, text=u"I'm a new pool owner and I've had Joe come out to my house twice so far to assist me in getting the pool up and running.  The first time he assessed the pool while I was buying the house after receiving an inspection.  He rinsed off the filter cartridges and gave me a list of items to buy and recommended where to purchase them for the best price.\n\nToday he came out to install a few minor items such as a door for my skimmer and water guard for my timer.  I asked plenty of questions which had come up since moving in and he answered them with great patience even after I repeated them so I could write them down.  He provided me with a lot of tips and was very easy going saying I could call him anytime I had a quick question.  Even though I'm sure he could sense my inexperience, he still was fair in his pricing and told me what things would be needed (service wise) and what won't.\n\nWhen the time comes for a new pump, I will definitely be calling Joe out to install it!  Also I should mention that the young lady on the phone who assisted me with setting up the appointment was extremely friendly and their system had very good notes as far as what I would need!! Very impressive!", type=u'review', useful=1, user_id=u'M-xJMhi-HphpWaD2992K3A')]

In [5]:

extreme_reviews = extreme_reviews.withColumn("stars", extreme_reviews["stars"].cast(DoubleType()))

In [6]:
from pyspark.ml.classification import LogisticRegression
from pyspark.ml.evaluation import MulticlassClassificationEvaluator
from pyspark.ml.feature import VectorAssembler, Binarizer
from pyspark.ml import Pipeline
from pyspark.ml.linalg import Vectors



assembler = VectorAssembler(inputCols=["useful", "cool", "funny"], outputCol="features")
label_binarizer = Binarizer(threshold=3.0, inputCol="stars", outputCol="label")
logistic_reg = LogisticRegression().setFeaturesCol("features").setPredictionCol("prediction")

pipeline = Pipeline(stages=[assembler, label_binarizer, logistic_reg])


model = pipeline.fit(extreme_reviews)

predictions = model.transform(extreme_reviews)

evaluator = MulticlassClassificationEvaluator(
    labelCol="label", predictionCol="prediction", metricName="accuracy")
accuracy = evaluator.evaluate(predictions)

print(accuracy)

0.781907236865

In [7]:
from pyspark.ml.feature import Tokenizer, CountVectorizer

tokenizer = Tokenizer(inputCol="text", outputCol="words")
cv = CountVectorizer(minTF=100.0, minDF=10.0, inputCol="words", outputCol="features")
label_binarizer = Binarizer(threshold=3.0, inputCol="stars", outputCol="label")
logistic_reg = LogisticRegression().setFeaturesCol("features").setPredictionCol("prediction")

pipeline = Pipeline(stages=[tokenizer, cv, label_binarizer, logistic_reg])

model = pipeline.fit(extreme_reviews)

predictions = model.transform(extreme_reviews)

evaluator = MulticlassClassificationEvaluator(
    labelCol="label", predictionCol="prediction", metricName="accuracy")
accuracy = evaluator.evaluate(predictions)

print(accuracy)

0.759250406647

In [ ]:
from pyspark.ml.feature import Word2Vec

tokenizer = Tokenizer(inputCol="text", outputCol="words")
word2Vec = Word2Vec(vectorSize=500, minCount=100, inputCol="words", outputCol="features")
label_binarizer = Binarizer(threshold=3.0, inputCol="stars", outputCol="label")
logistic_reg = LogisticRegression().setFeaturesCol("features").setPredictionCol("prediction")

pipeline = Pipeline(stages=[tokenizer, word2Vec, label_binarizer, logistic_reg])

model = pipeline.fit(extreme_reviews)

predictions = model.transform(extreme_reviews)

evaluator = MulticlassClassificationEvaluator(
    labelCol="label", predictionCol="prediction", metricName="accuracy")
accuracy = evaluator.evaluate(predictions)

print(accuracy)

In [4]:
business = business.repartition(300)
user = user.repartition(300)
review = review.repartition(300)

In [32]:
b = business.select("city").distinct().toPandas()
print(b)

                         city
0                 Middlefield
1    Saint-Marc-sur-Richelieu
2     Sainte-Anne-des-Plaines
3                       Ratho
4                Mississauaga
5                       Tempe
6                Sainte-Adele
7                  Harrisburg
8             North Las Vegas
9                      Auburn
10                Wilkinsburg
11               Saint-Hubert
12                Indian Hook
13                    Phoenix
14                 Georgetown
15               West Mifflin
16                  Kirkcaldy
17                      Savoy
18             Upper St Clair
19        Pointe-Aux-Trembles
20             South Mountain
21     Bonnyrigg and Lasswade
22                  Brunswick
23                   Rosemère
24            South Las Vegas
25                  Tottenham
26                   Ben Avon
27                    Baldwin
28                     frazer
29                  Wickliffe
..                        ...
848              Kornwestheim
849            West Las Vegas
850                Las  Vegas
851         Remseck am Neckar
852                 Glassport
853                 Mt Albert
854                   Montéal
855                   Midland
856               Brecksville
857               Saint-Bruno
858           Schwieberdingen
859           Saint-Hyacinthe
860                     Leith
861                    Anthem
862                 Middleton
863                Lake Wylie
864             Wesley Chapel
865                  Straiton
866              L'Île-Perrôt
867                  St. Anns
868            Saint-Eustache
869              Steinenbronn
870                 Hemmingen
871                    Rankin
872             North Olmsted
873                 Homestead
874                   Fithian
875                 Sewickley
876                 Kahnawake
877  St Philippe de Laprairie

[878 rows x 1 columns]

In [40]:
print(b.sort("city"))
print(len(b))
print(len(b.drop_duplicates()))

878
878

In [5]:
# filter users with less than 5 reviews
valid_users = user.alias('u').join(review.alias('r'), user.user_id == review.user_id).select("u.user_id").groupby("user_id").count()
# print(len(valid_users.collect()))
valid_users = valid_users.where("count >= 5")

In [8]:
valid_users_review_count_df = valid_users.select("count").toPandas()['count']

In [15]:
valid_users_review_count_data = Data([Histogram(x=valid_users_review_count_df)])
py.iplot(valid_users_review_count_data)

/usr/local/lib/python2.7/dist-packages/plotly/plotly/plotly.py:215: UserWarning:

Woah there! Look at all those points! Due to browser limitations, the Plotly SVG drawing functions have a hard time graphing more than 500k data points for line charts, or 40k points for other types of charts. Here are some suggestions:
(1) Use the `plotly.graph_objs.Scattergl` trace object to generate a WebGl graph.
(2) Trying using the image API to return an image instead of a graph URL
(3) Use matplotlib
(4) See if you can create your visualization with fewer data points

If the visualization you're using aggregates points (e.g., box plot, histogram, etc.) you can disregard this warning.

In [6]:
user_geo = (business.alias('b').join(
            review.alias('r'),business.business_id == review.business_id).join(
            valid_users.alias('u'), review.user_id == valid_users.user_id).select(
            ['u.user_id', 'b.city']))

# user_geo.printSchema()
# print(user_geo.head(10))

In [7]:
user_geo_count = user_geo.groupby(["user_id", "city"]).count().orderBy(["user_id", "count"], ascending=[1, 0])

# user_geo_count.printSchema()
# print(user_geo_count.head(10))

In [8]:
user_num_cities = user_geo_count.groupby("user_id").count().orderBy("count", ascending=[0])

# print(user_num_cities.head(10))
# print(user_num_cities.orderBy("count", ascending=[1]).head(10))

In [12]:
user_num_cities_df = user_num_cities.select("count").toPandas()['count']

In [13]:
print(user_num_cities_df.head(10))
print(len(user_num_cities_df))

0    74
1    58
2    52
3    50
4    49
5    47
6    47
7    47
8    47
9    46
Name: count, dtype: int64
179097

In [15]:
num_cities_data = Data([Histogram(x=user_num_cities_df)])
py.iplot(num_cities_data)

# group_labels = ['cities a user has reviewed in']
# fig = FF.create_distplot([user_num_cities_df], group_labels)
# py.iplot(fig)

In [9]:
user_frac_cities = (user_geo_count.alias("ugc").join(valid_users.alias("vu"), col("ugc.user_id") == col("vu.user_id")).select(
                    [col("ugc.user_id"), col("ugc.city"), (col("ugc.count") / col("vu.count")).alias("frac")]).orderBy("frac", ascending=[1]))
user_frac_cities = user_frac_cities.groupby("user_id").agg(max("frac").alias("maxFrac"))

# user_frac_cities.printSchema()
# user_frac_cities.head(5)

In [17]:
user_frac_cities_df = user_frac_cities.select("maxFrac").toPandas()['maxFrac']

In [19]:
frac_cities_data = Data([Histogram(x=user_frac_cities_df)])
py.iplot(frac_cities_data)

In [10]:
valid_user_frac_cities = (user_geo_count.alias("ugc").join(valid_users.alias("vu"), col("ugc.user_id") == col("vu.user_id")).select(
                        [col("ugc.user_id"), col("ugc.city"), (col("ugc.count") / col("vu.count")).alias("frac")]).where("frac > 0.1"))
valid_user_and_city = valid_user_frac_cities.select([col("user_id"), col("city")])

# print(valid_user_and_city.select("city").collect())

In [11]:
users_in_both = (valid_user_and_city.alias("df1").join(valid_user_and_city.alias("df2"), col("df1.city") < col("df2.city"))
                 .join(user.select("user_id").alias("u"), (col("u.user_id") == col("df1.user_id")) & (col("u.user_id") == col("df2.user_id")))
                 .groupby([col("df1.city").alias("city1"), col("df2.city").alias("city2")]).count()
                 .select([col("city1"), col("city2"), col("count").alias("users_in_both")]).where("users_in_both >= 10"))

# print(users_in_both.toPandas())

In [33]:
city_users = valid_user_and_city.groupby("city").count().select([col("city"), (col("count").alias("city_users"))]).where("city_users>=10")
city_users_df = city_users.toPandas()

print(city_users_df)

                    city  city_users
0            Middlefield          39
1                  Tempe       18761
2             Harrisburg         172
3        North Las Vegas        4473
4           Saint-Hubert          10
5                Phoenix       46252
6             Georgetown          35
7                  Savoy         128
8           West Mifflin         157
9              Brunswick         199
10       South Las Vegas          41
11             Fitchburg         476
12             Newmarket         299
13             Wickliffe          58
14             King City          11
15   Lower Lawrenceville          40
16             Tallmadge          79
17                Bolton          22
18              Hinckley          11
19              Paradise         105
20            Woodbridge         261
21             Glenndale          33
22            Bainbridge          14
23             Avon Lake         199
24            McKeesport          45
25             Inverness         105
26             Edinburgh        1848
27             Ahwatukee         130
28            Springdale          30
29                Dallas          21
..                   ...         ...
345              Lachine          38
346        Saint-Sauveur          27
347            Don Mills          13
348              Concord        1231
349           Sharpsburg          22
350          Black Earth          15
351          Pierrefonds          35
352             Carefree         272
353           Unionville         155
354                 York         125
355              Tuscola          26
356          Chesterland         121
357            Charlotte       11078
358          Streetsboro         162
359    Cleveland Heights         966
360            Sun Lakes          35
361          Painesville         142
362         Kornwestheim          22
363       West Las Vegas          15
364           Las  Vegas          39
365          Brecksville         145
366              Midland          13
367      Schwieberdingen          12
368               Anthem         290
369            Middleton         853
370        Wesley Chapel          61
371           Lake Wylie         105
372        North Olmsted         631
373            Homestead         324
374            Sewickley         161

[375 rows x 2 columns]

In [12]:
# city_pairs = users_in_both.select([col("city1"), col("city2")])

# users_in_either = (valid_user_and_city.alias("df1")
#                    .join(city_pairs.alias("cp"), (col("df1.city") == col("cp.city1")))
#                    .join(valid_user_and_city.alias("df2"), col("df2.city") == col("cp.city2"))
#                    .join(user.select("user_id").alias("u"), (col("u.user_id") == col("df1.user_id")) | (col("u.user_id") == col("df2.user_id")))
#                    .groupby([col("df1.city").alias("city1"), col("df2.city").alias("city2")]).count()
#                    .select([col("city1"), col("city2"), col("count").alias("users_in_either")]).where("users_in_either >= 50"))
# print(users_in_either.toPandas())



users_in_either = (city_users.alias("cu1")
                   .join(users_in_both.alias("b"), (col("cu1.city") == col("b.city1")))
                   .join(city_users.alias("cu2"), (col("cu2.city") == col("b.city2")))
                   .select([col("b.city1"), col("b.city2"), 
                            (col("cu1.city_users") + col("cu1.city_users") - col("b.users_in_both")).alias("users_in_either")]))

# print(users_in_either.head(10))

In [13]:
city_sims = (users_in_both.alias("b").join(users_in_either.alias("e"), (col("b.city1") == col("e.city1")) & (col("b.city2") == col("e.city2")))
             .select([col("b.city1"), col("b.city2"), (col("b.users_in_both") / col("e.users_in_either")).alias("jaccard")])
             .orderBy(["jaccard", "city1", "city2"], ascending=[0, 1, 1]))

city_sims_df = city_sims.toPandas()
print(city_sims_df)

                    city1               city2   jaccard
0               Brentwood          Pittsburgh  1.000000
1          Castle Shannon          Pittsburgh  1.000000
2                 Crafton          Pittsburgh  1.000000
3                Emsworth          Pittsburgh  1.000000
4              Enterprise           Las Vegas  1.000000
5               Gerlingen           Stuttgart  1.000000
6              Green Tree          Pittsburgh  1.000000
7              Heidelberg          Pittsburgh  1.000000
8                  Kernen           Stuttgart  1.000000
9      Korntal-Münchingen           Stuttgart  1.000000
10    McCandless Township          Pittsburgh  1.000000
11             Mont-Royal            Montréal  1.000000
12         Montreal-Ouest            Montréal  1.000000
13           McKees Rocks          Pittsburgh  0.974684
14           Blue Diamond           Las Vegas  0.960784
15              Fitchburg             Madison  0.958848
16              East York             Toronto  0.953917
17    Lower Lawrenceville          Pittsburgh  0.951220
18              Henderson           Las Vegas  0.950442
19             Las  Vegas           Las Vegas  0.950000
20               Bellevue          Pittsburgh  0.945205
21          Mount Lebanon          Pittsburgh  0.937500
22             Ostfildern           Stuttgart  0.937500
23               Carnegie          Pittsburgh  0.930131
24           Allison Park          Pittsburgh  0.929204
25            Bethel Park          Pittsburgh  0.929204
26                Lasalle            Montréal  0.928571
27            Mt. Lebanon          Pittsburgh  0.925926
28              Homestead          Pittsburgh  0.922849
29               Imperial          Pittsburgh  0.909091
...                   ...                 ...       ...
1670              Phoenix            Westlake  0.000151
1671              Phoenix            Woodmere  0.000151
1672              Phoenix           Pineville  0.000141
1673              Phoenix           Sun Lakes  0.000141
1674              Phoenix          Willoughby  0.000141
1675            Las Vegas               Solon  0.000138
1676            Las Vegas  Middleburg Heights  0.000124
1677            Las Vegas                Stow  0.000124
1678            Las Vegas      San Tan Valley  0.000117
1679            Las Vegas             Wexford  0.000117
1680            Las Vegas            LasVegas  0.000110
1681            Las Vegas               Laval  0.000110
1682            Las Vegas               Sloan  0.000110
1683            Las Vegas         Streetsboro  0.000110
1684              Phoenix       Richmond Hill  0.000108
1685            Las Vegas      West Las Vegas  0.000104
1686            Las Vegas       Moon Township  0.000097
1687            Las Vegas           Lyndhurst  0.000090
1688            Las Vegas           Newmarket  0.000090
1689            Las Vegas           Twinsburg  0.000090
1690            Las Vegas          Nellis AFB  0.000083
1691            Las Vegas           Sewickley  0.000083
1692            Las Vegas       N W Las Vegas  0.000076
1693            Las Vegas         Sun Prairie  0.000076
1694            Las Vegas              Lorain  0.000069
1695            Las Vegas         Mount Horeb  0.000069
1696            Las Vegas               Savoy  0.000069
1697            Las Vegas       Spring Valley  0.000069
1698            Las Vegas              Verona  0.000069
1699            Las Vegas        West Mifflin  0.000069

[1700 rows x 3 columns]

In [19]:
city_sims_data = Data([Histogram(x=city_sims_df["jaccard"])])
py.iplot(city_sims_data)

In [31]:
users_in_both_doubled = (valid_user_and_city.alias("df1").join(valid_user_and_city.alias("df2"), col("df1.city") != col("df2.city"))
                         .join(user.select("user_id").alias("u"), (col("u.user_id") == col("df1.user_id")) & (col("u.user_id") == col("df2.user_id")))
                         .groupby([col("df1.city").alias("city1"), col("df2.city").alias("city2")]).count()
                         .select([col("city1"), col("city2"), col("count").alias("users_in_both")]).where("users_in_both >= 10"))


top_sim_fracs = (users_in_both_doubled.alias("b").join(city_users.alias("cu"), col("b.city1") == col("cu.city"))
                 .select([col("b.city1"), col("b.city2"), (col("b.users_in_both") / col("cu.city_users")).alias("most_sim_frac")])
                 .groupby("city1").agg(max("most_sim_frac").alias("top_most_sim_frac")))  

top_sim_fracs.printSchema()

alt_city_sims = (users_in_both_doubled.alias("b").join(city_users.alias("cu"), col("b.city1") == col("cu.city"))
                 .select([col("b.city1"), col("b.city2"), (col("b.users_in_both") / col("cu.city_users")).alias("most_sim_frac")])
                 .join(top_sim_fracs.alias("tsf"), (col("tsf.city1") == col("b.city1")) & (col("tsf.top_most_sim_frac") == col("most_sim_frac")))
                 .select([col("b.city1").alias("city"), col("b.city2").alias("most_sim_city"), col("tsf.top_most_sim_frac")])
                 .orderBy(["top_most_sim_frac", "city", "most_sim_city"], ascending=[0, 1, 1]))

alt_city_sims.printSchema()
alt_city_sims_df = alt_city_sims.toPandas()
print(alt_city_sims_df)

root
 |-- city1: string (nullable = true)
 |-- top_most_sim_frac: double (nullable = true)

root
 |-- city: string (nullable = true)
 |-- most_sim_city: string (nullable = true)
 |-- top_most_sim_frac: double (nullable = true)

                          city   most_sim_city  top_most_sim_frac
0                    Brentwood      Pittsburgh           1.000000
1               Castle Shannon      Pittsburgh           1.000000
2                      Crafton      Pittsburgh           1.000000
3                     Emsworth      Pittsburgh           1.000000
4                   Enterprise       Las Vegas           1.000000
5                    Gerlingen       Stuttgart           1.000000
6                   Green Tree      Pittsburgh           1.000000
7                   Heidelberg      Pittsburgh           1.000000
8                       Kernen       Stuttgart           1.000000
9           Korntal-Münchingen       Stuttgart           1.000000
10         McCandless Township      Pittsburgh           1.000000
11                  Mont-Royal        Montréal           1.000000
12              Montreal-Ouest        Montréal           1.000000
13               N W Las Vegas       Las Vegas           1.000000
14                  Nellis AFB       Las Vegas           1.000000
15               Saint Laurent        Montréal           1.000000
16                       Sloan       Las Vegas           1.000000
17             South Las Vegas       Las Vegas           1.000000
18           South Queensferry       Edinburgh           1.000000
19               Spring Valley       Las Vegas           1.000000
20                   Summerlin       Las Vegas           1.000000
21                Turtle Creek      Pittsburgh           1.000000
22           Upper Saint Clair      Pittsburgh           1.000000
23                  Weddington       Charlotte           1.000000
24              West Las Vegas       Las Vegas           1.000000
25                   West View      Pittsburgh           1.000000
26                    Paradise       Las Vegas           0.990476
27             North Las Vegas       Las Vegas           0.987480
28                McKees Rocks      Pittsburgh           0.987179
29                 N Las Vegas       Las Vegas           0.984375
..                         ...             ...                ...
319                  Macedonia       Cleveland           0.527607
320                  Peninsula       Cleveland           0.515625
321                     Frazer       Las Vegas           0.515152
322                       Stow  Cuyahoga Falls           0.504505
323                   Kirtland       Cleveland           0.500000
324                Middlefield       Cleveland           0.487179
325                     Lorain       Cleveland           0.484211
326                Valley City       Cleveland           0.481481
327  Bradford West Gwillimbury        Bradford           0.476190
328  Bradford West Gwillimbury       Newmarket           0.476190
329  Bradford West Gwillimbury         Toronto           0.476190
330                     Hudson       Cleveland           0.474227
331                    Amherst       Cleveland           0.473214
332                     Elyria       Cleveland           0.470968
333                    Phoenix      Scottsdale           0.465731
334                  Twinsburg       Cleveland           0.463768
335                       Kent       Cleveland           0.413965
336             Cuyahoga Falls       Cleveland           0.412229
337                     Burton       Cleveland           0.394737
338                     Aurora         Toronto           0.380054
339                Streetsboro       Cleveland           0.358025
340                   Montréal         Toronto           0.278194
341                  Las Vegas       Henderson           0.221279
342                  Cleveland        Lakewood           0.198337
343                    Madison       Middleton           0.178115
344                  Edinburgh       Las Vegas           0.169372
345                 Pittsburgh       Las Vegas           0.141140
346                    Toronto         Markham           0.132099
347                  Charlotte       Las Vegas           0.131702
348                  Stuttgart     Ludwigsburg           0.128625

[349 rows x 3 columns]

In [39]:
print(len(alt_city_sims_df.sort("city")["city"]))
print(len(alt_city_sims_df["city"].drop_duplicates()))

349
347

/usr/local/lib/python2.7/dist-packages/ipykernel/__main__.py:1: FutureWarning:

sort(columns=....) is deprecated, use sort_values(by=.....)

In [30]:
alt_city_sims_data = Data([Histogram(x=alt_city_sims_df["top_most_sim_frac"])])
py.iplot(alt_city_sims_data)

In [27]:
completely_related_cities = alt_city_sims.select(["city", "most_sim_city"]).where("top_most_sim_frac == 1.0")

completely_related_cities_df = completely_related_cities.toPandas()
print(completely_related_cities_df)

                   city most_sim_city
0             Brentwood    Pittsburgh
1        Castle Shannon    Pittsburgh
2               Crafton    Pittsburgh
3              Emsworth    Pittsburgh
4            Enterprise     Las Vegas
5             Gerlingen     Stuttgart
6            Green Tree    Pittsburgh
7            Heidelberg    Pittsburgh
8                Kernen     Stuttgart
9    Korntal-Münchingen     Stuttgart
10  McCandless Township    Pittsburgh
11           Mont-Royal      Montréal
12       Montreal-Ouest      Montréal
13        N W Las Vegas     Las Vegas
14           Nellis AFB     Las Vegas
15        Saint Laurent      Montréal
16                Sloan     Las Vegas
17      South Las Vegas     Las Vegas
18    South Queensferry     Edinburgh
19        Spring Valley     Las Vegas
20            Summerlin     Las Vegas
21         Turtle Creek    Pittsburgh
22    Upper Saint Clair    Pittsburgh
23           Weddington     Charlotte
24       West Las Vegas     Las Vegas
25            West View    Pittsburgh

In [ ]:
# TODO: find a good rate which "cities" are pretty much the same as other cities and then replace in business data?